* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
}
body::-webkit-scrollbar {
  width: 30px;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background: #ff5200;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px white;
}
.container {
  width: 1170px;
  margin: auto;
}

.menubarwrapper {
  width: 100%;
}

.logodiv {
  width: 200px;
  display: inline;
  float: left;
}

.logodiv img {
  width: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  background: #101130;
  top: 0px;
  left: 0px;
  z-index: 999;
  position: fixed;
  width: 100%;
}

.menubar {
  width: 749px;
  float: left;
}

.menulist {
  float: left;
  padding-top: 36px;
  padding-left: 147px;
}

.menulist li {
  float: left;
  padding-right: 30px;
  list-style: none;
}

.menulist li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.8s;
}
.menulist li a:hover {
  background: #f05826;
  transform: scale(1.1);
  border-bottom: 8px solid #ff5200;
  padding: 10px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.srcbtn {
  float: left;
  padding-top: 30px;
  width: 200px;
}

.srcbtnc a {
  color: white;
}

.srcbtn a i {
  color: white;
  font-size: 25px;
  padding-right: 8px;
  padding-top: 0px;
}

.srcbtn button {
  padding: 10px 16px;
  background: #f05826;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset 0 0 0 0 white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-timing-function: linear;
}
.srcbtn button:hover {
  box-shadow: inset 157px 0 0 0 white;
}
.srcbtn button a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.8s;
}
.srcbtn button:hover a {
  color: #f05826;
}

.homepagesec {
  padding-top: 233px;
  background: linear-gradient(#000000e0, #000000cf, #000000db),
    url(images/hero.jpg);
  background-repeat: no-repeat;
  height: 606px;
  background-position: center;
}

.homepagecontentwrapper {
  overflow: hidden;
}

.homepagetitle h1 {
  color: white;
  font-size: 50px;
  margin-left: 28%;
  padding-bottom: 43px;
}

.homepagetitle h2 {
  color: #ff5826;
  font-size: 28px;
  margin-left: 23%;
  font-weight: 600;
  padding-bottom: 39px;
}

.homepagetitle h2 span {
  color: white;
}
.homepagettileiconvide {
  color: white;
  margin-left: 28%;
}

.student {
  float: left;
  padding-right: 18px;
}

.user {
  float: left;
  padding-right: 18px;
}

.student i {
  float: left;
  font-size: 23px;
  padding-right: 6px;
}

.student h6 {
  float: left;
  font-size: 19px;
  font-weight: 500;
}

.user i {
  float: left;
  font-size: 23px;
  padding-right: 6px;
}

.user h6 {
  float: left;
  font-size: 19px;
  font-weight: 500;
}

.video {
  float: left;
  padding-right: 18px;
}

.video i {
  float: left;
  font-size: 23px;
  padding-right: 6px;
}

.video h6 {
  float: left;
  font-size: 19px;
  font-weight: 500;
}
.homepagebtn {
  width: 500px;
  margin-left: 37%;
  padding-top: 82px;
}

.hmepagebtn2 {
  padding: 13px 31px;
  background: #f05826;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset 0 0 0 0 white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-timing-function: linear;
}
.hmepagebtn2:hover {
  box-shadow: inset 168px 0 0 0 white;
}
.hmepagebtn2 a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.8s;
  font-weight: 600;
}
.hmepagebtn2:hover a {
  color: #f05826;
}

.hmepagebtn1 {
  padding: 13px 33px;
  background: #f70267;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.8s;
  margin-right: 12px;
  box-shadow: inset 0 0 0 0 white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-timing-function: linear;
}
.hmepagebtn1:hover {
  box-shadow: inset 168px 0 0 0 white;
}
.hmepagebtn1 a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.8s;
  font-weight: 600;
}
.hmepagebtn1:hover a {
  color: #f05826;
}

.timebarcontentwrapper {
  background: linear-gradient(
    to left,
    #e62281,
    #f4246d,
    #fd3158,
    #ff4341,
    #ff5826
  );
  margin-top: -167px;
  height: 212px;
}

.timebartitle h2 {
  color: white;
  font-size: 31px;
  padding-top: 19px;
  padding-left: 33%;
  padding-bottom: 19px;
}

.timebarsinglebox1 {
  float: left;
  margin-left: 305px;
}

.timebaranupath1 {
  float: left;
  font-size: 50px;
  color: white;
  margin-left: 40px;
}

.timebarsinglebox2 {
  float: left;
  padding-left: 40px;
}

.timebaranupath2 {
  float: left;
  font-size: 50px;
  color: white;
  margin-left: 40px;
}

.timebarsinglebox3 {
  float: left;
  padding-left: 40px;
}

.timebaranupath3 {
  float: left;
  font-size: 50px;
  color: white;
  margin-left: 40px;
}

.timebarsinglebox4 {
  float: left;
  padding-left: 40px;
}

.timebarsinglebox1 h1 {
  color: white;
  font-size: 64px;
}

.timebarsinglebox1 span {
  color: white;
  font-size: 20px;
  padding-left: 12px;
}

.timebarsinglebox2 h1 {
  color: white;
  font-size: 64px;
}

.timebarsinglebox2 span {
  color: white;
  font-size: 20px;
  padding-left: 12px;
}

.timebarsinglebox3 h1 {
  color: white;
  font-size: 64px;
}

.timebarsinglebox3 span {
  color: white;
  font-size: 20px;
  padding-left: 5px;
}

.timebarsinglebox4 h1 {
  color: white;
  font-size: 64px;
}

.timebarsinglebox4 span {
  color: white;
  font-size: 20px;
  padding-left: 5px;
}

.logoimg img {
  width: 349px;
  position: relative;
  top: -67px;
  left: -54px;
  opacity: 0.1;
}

.aboutsectionnasimvau {
  height: 688px;
  overflow: hidden;
}

.contentwrappernasimvaiaabout {
  margin-top: -595px;
}

.aboutterxsdiv {
  width: 491px;
  float: left;
}

.aboutetexttitle h4 {
  color: #f05826;
  font-size: 20px;
  padding-bottom: 15px;
}

.aboutetexttitle h2 {
  color: black;
  font-size: 28px;
  padding-bottom: 15px;
  font-weight: 600;
}

.aboutdescropitionterxt {
  text-align: justify;
}

.aboutdescropitionterxt p {
  color: #00000091;
  font-size: 19px;
  word-spacing: 0px;
  padding-bottom: 27px;
}

.downloadbtn button {
  padding: 14px 32px;
  background: #f05826;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset 0 0 0 0 white, 0px 7px 20px 0px #0000008a;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-timing-function: linear;
  position: relative;
}
.downloadbtn button:hover {
  box-shadow: inset 179px 0 0 0 white;
}
.downloadbtn button a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.8s;
}
.downloadbtn button:hover a {
  color: #007acc;
}
.imagesdiv {
  width: 500px;
  top: -586px;
  position: relative;
  left: 132%;
  background: url("images/shape-2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 168% 97%;
}

.imagesdiv img {
  width: 409px;
  border-radius: 100%;
  border: 8px solid #ddd;
  margin-left: 74px;
  margin-top: 34px;
}

.dotdotimage img {
  padding-top: 124px;
  padding-left: 38px;
}

.circleimg img {
  position: relative;
  left: 90%;
  bottom: -24px;
  animation-name: circleimage;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes circleimage {
  0% {
    transform: rotate(360deg);
  }
}
.nasimvaiaimagediv {
  float: left;
  width: 500px;
  float: right;
  margin-left: 345px;
  margin-top: -189px;
}
.opportunatinessec {
  height: 515px;
}
.curlyimage {
  left: 164px;
  width: 100px;
  top: 35px;
  position: relative;
  z-index: -1;
}
.curliimage1 {
  position: relative;
  width: 100px;
  top: 52px;
  left: 98px;
}

.curliimage2 {
  position: relative;
  width: 100px;
  top: 165px;
  left: 98px;
  z-index: -1;
}
.dotdotimage {
  z-index: -1;
}

.servicebox1 {
  width: 350px;
  float: left;
  margin-right: 25px;
  padding-bottom: 56px;
}

.servicebox2 {
  float: left;
  width: 350px;
  transition: 0.5s;
  box-shadow: 0px 0px 38px 0px #ddd5d5;
}
.servicebox2:hover {
  box-shadow: none;
}
.servicebox3 {
  float: left;
  width: 350px;
  border: 1px solid #dddddd75;
  margin-bottom: 28px;
  transition: 0.5s;
  box-shadow: 0px 0px 38px 0px #ddd5d5;
}
.servicebox3:hover {
  box-shadow: none;
}
.servicebox4 {
  float: left;
  width: 350px;
  border: 1px solid #dddddd75;
  margin-right: 25px;
  transition: 0.5s;
  box-shadow: 0px 0px 38px 0px #ddd5d5;
}
.servicebox4:hover {
  box-shadow: none;
}
.servicebox5 {
  float: left;
  width: 350px;
  border: 1px solid #dddddd75;
  margin-right: 24px;
  transition: 0.5s;
  box-shadow: 0px 0px 38px 0px #ddd5d5;
}
.servicebox5:hover {
  box-shadow: none;
}
.servicebox6 {
  float: left;
  width: 350px;
  border: 1px solid #dddddd75;
  transition: 0.5s;
  box-shadow: 0px 0px 38px 0px #ddd5d5;
}
.servicebox6:hover {
  box-shadow: none;
}
.servicecontentwrapper {
  margin-top: -50px;
}

.servicebox1 h4 {
  color: #ff5826;
  font-size: 28px;
  padding-bottom: 5px;
}

.servicebox1 h2 {
  color: #020745;
  font-size: 35px;
}

.servicebox2 {
  border: 1px solid #dddddd75;
  margin-right: 10px;
  margin-right: 25px;
}

.teachericon i {
  float: left;
  width: 30px;
  color: #ff5826;
  height: 116px;
  font-size: 37px;
  margin-top: 21px;
  padding-left: 21px;
}

.sertvicebox1titletext {
  width: 270px;
  padding-left: 82px;
  padding-right: 20px;
}

.sertvicebox1titletext h5 {
  font-size: 17px;
  color: #020141;
  padding-top: 15px;
  padding-bottom: 2px;
}

.sertvicebox1titletext p {
  color: #00000080;
  font-size: 17px;
  padding-right: 20px;
  text-align: left;
}

.teachersec {
  background: linear-gradient(
    to left,
    #e62281,
    #f4246d,
    #fd3158,
    #ff4341,
    #ff5826
  );
  background-position: 100% 100%;
  background-repeat: no-repeat;
  height: 908px;
}

.texchertitle {
  width: 400px;
  text-align: center;
  margin: auto;
  padding-top: 118px;
}

.texchertitle h4 {
  color: white;
  font-size: 27px;
}

.texchertitle h2 {
  color: white;
  font-size: 35px;
}

.teacherswrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 67px;
}

.singleboxteacher {
  width: 245px;
  position: relative;
  height: 291px;
  padding-left: 14px;
  display: inline-block;
  padding-right: 30px;
}

.singleboxteacher img {
  box-shadow: 0px 12px 27px 0px #000000d6;
  border-radius: 100%;
  width: 100%;
  border: 8px solid white;
  display: block;
  transition: 0.5s;
  margin-left: 1px;
}

/*.techerppicoverlay {
    background: #DC1876;
    position: absolute;
    top: 9px;
    left: 8px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    width: 100%;
    height:94%;
    border-radius: 100%;
    height: 256px;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    transform: translateX(-236px);
    opacity:0;

}*/
.singleboxteacher:hover img {
  box-shadow: none;
}

.singleboxteacher:hover .techerppicoverlay {
  overflow: hidden;
  transform: translateX(0px);
  opacity: 0.9;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.techerppicoverlay {
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 8%;
  width: 85%;
  height: 84%;
  background: #dc1876;
  overflow: hidden;
  transform: translateX(-1px);
  transition: 0.5s;
  transition-timing-function: ease-in;
  border-radius: 100%;
  opacity: 0;
}

.overlaytext {
  position: relative;
  left: 57px;
  top: 57px;
}

.overlaytext h3 {
  color: white;
  font-size: 24px;
  font-family: system-ui;
}

.overlaytext p {
  color: white;
  padding-left: 14px;
  font-family: system-ui;
  font-size: 15px;
  padding-top: 6px;
}

.socialmediaoftecher {
  position: relative;
  left: 52px;
  top: 84px;
  display: inline-block;
}

.fb {
  background: white;
  width: 32px;
  height: 32px;
  transition: 0.3s;
  margin-right: 3px;
}

.fb i {
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
  padding-top: 6px;
  color: #3c599f;
  transition: 0.3s;
}

.fb:hover {
  background: #3c599f;
}
.fb:hover i {
  color: white;
}

.tweet {
  background: white;
  width: 32px;
  height: 32px;
  transition: 0.3s;
  margin-right: 3px;
}

.tweet i {
  font-size: 18px;
  text-align: center;
  padding-left: 7px;
  padding-top: 6px;
  color: #52a8e9;
  transition: 0.3s;
}

.tweet:hover {
  background: #52a8e9;
}
.tweet:hover i {
  color: white;
}

.pinterest {
  background: white;
  width: 32px;
  height: 32px;
  transition: 0.3s;
  margin-right: 3px;
}

.pinterest i {
  font-size: 18px;
  text-align: center;
  padding-left: 9px;
  padding-top: 6px;
  color: red;
  transition: 0.3s;
}

.pinterest:hover {
  background: red;
}
.pinterest:hover i {
  color: white;
}

.dribble {
  background: white;
  width: 32px;
  height: 32px;
  transition: 0.3s;
  margin-right: 3px;
}

.dribble i {
  font-size: 18px;
  text-align: center;
  padding-left: 7px;
  padding-top: 6px;
  color: pink;
  transition: 0.3s;
}

.dribble:hover {
  background: pink;
}
.dribble:hover i {
  color: white;
}

/*safollosection*/

.safoolosection {
  background: linear-gradient(#eeeeeed4, #ffffffdb), url("images/pattern-1.jpg");
  background-size: cover;
  background-position: center;
  height: 480px;
}

.safollowrapper {
  width: 100%;
  overflow: hidden;
}

.registerstudentbox {
  width: 225px;
  margin-top: 110px;
  margin-left: 64px;
  display: inline-block;
  padding: 26px;
  box-sizing: border-box;
}

.registericon {
  background: #ffc20b;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  margin-bottom: 1px;
  margin-left: 16px;
  transition: 0.5s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.registericon:hover {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}

.registericon i {
  font-size: 80px;
  color: white;
  padding-left: 23px;
  padding-top: 18px;
}

.registertext {
  width: 270px;
}

.registertext h1 {
  color: #050521;
  font-size: 59px;
  font-family: system-ui;
  padding-left: 28px;
}

.registertext h4 {
  color: #ffc20b;
  font-size: 19px;
  margin-left: 0px;
}

.pricebox {
  width: 225px;
  margin-top: 110px;
  margin-left: 64px;
  display: inline-block;
  padding: 26px;
  box-sizing: border-box;
}

.priceicon {
  background: #40cbb4;
  border-radius: 100%;
  margin-bottom: 1px;
  margin-left: 16px;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.priceicon:hover {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}

.priceicon i {
  font-size: 69px;
  color: white;
  padding-left: 37px;
  padding-top: 29px;
}

.pricetext {
  width: 270px;
}

.pricetext h1 {
  color: #050521;
  font-size: 59px;
  font-family: system-ui;
  padding-left: 50px;
}

.pricetext h4 {
  color: #40cbb4;
  font-size: 19px;
  margin-left: 22px;
}

.teacher2box {
  width: 225px;
  margin-top: 110px;
  margin-left: 64px;
  display: inline-block;
  padding: 26px;
  box-sizing: border-box;
}

.teacher2icon {
  background: #4c35a9;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  margin-bottom: 1px;
  margin-left: 16px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.teacher2icon:hover {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}

.teacher2icon i {
  font-size: 67px;
  color: white;
  padding-left: 35px;
  padding-top: 27px;
}

.teacher2text {
  width: 147px;
}

.teacher2text h1 {
  color: #050521;
  font-size: 59px;
  font-family: system-ui;
  padding-left: 30px;
  text-align: center;
}

.teacher2text h4 {
  color: #4c35a9;
  font-size: 19px;
  margin-left: 46px;
}

.videobox {
  width: 225px;
  margin-top: 110px;
  margin-left: 64px;
  display: inline-block;
  padding: 26px;
  box-sizing: border-box;
}

.videoicon {
  background: #e6275a;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  margin-bottom: 1px;
  margin-left: 16px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.videoicon:hover {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}

.videoicon i {
  font-size: 67px;
  color: white;
  padding-left: 26px;
  padding-top: 27px;
}

.videotext {
  width: 229px;
}

.videotext h1 {
  color: #050521;
  font-size: 59px;
  font-family: system-ui;
  padding-left: 51px;
}

.videotext h4 {
  color: #e6275a;
  font-size: 19px;
  margin-left: 0px;
}

/*classscheudule section*/
.classscheudule {
  height: 1780px;
  width: 100%;
  background: #9e9e9e0d;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100%;
  position: relative;
}

.scheudlewrapper {
  width: 100%;
  margin-top: 11%;
  position: relative;
  height: auto;
}
.titletextofclassschedule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 64px;
}
.titletextofclassschedule h3 {
  color: #f05826;
  font-size: 20px;
}
.titletextofclassschedule h1 {
  color: #020745;
  font-size: 35px;
}

/*classbox1*/
.classbox1 {
  width: 513px;
  overflow: hidden;
  background: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  float: right;
  box-sizing: border-box;
  padding: 33px;
  border: 2px solid rgba(221, 221, 221, 0.808);
}

.classbox1:before {
  position: absolute;
  top: 234%;

  left: 54.5%;
  background: white;
  content: "";
  border-bottom: 2px solid rgba(221, 221, 221, 0.808);
  border-left: 2px solid rgba(221, 221, 221, 0.808);
  padding: 18px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.classbox1title {
  width: 100%;
  height: 80px;
}
.classbox1title img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  float: left;
  margin-right: 15px;
  padding: 5px;
}
.classbox1title h4 {
  font-family: system-ui;
  color: rgba(0, 0, 0, 0.795);
  font-weight: 600;
  font-size: 17px;
  padding-top: 10px;
}
.classbox1title span {
  color: rgba(34, 34, 31, 0.596);
  font-size: 13px;
  font-family: system-ui;
  padding-top: 5px;
}

.classbox1maintext {
  width: 100%;
  overflow: hidden;
}

.classbox1maintext h1 {
  color: #020745;
  font-family: system-ui;
  font-size: 22px;
  padding-bottom: 20px;
}

.classbox1maintext p {
  color: #9e9e9e;
  font-size: 16px;
  font-family: system-ui;
  padding-bottom: 30px;
}

.classbox1button {
  width: 100%;
}

.classbox1button button {
  text-align: center;
  padding: 10px 20px;
  border-top: 2px solid #ffc107;
  border-bottom: 2px solid #ffc107;
  border-left: none;
  border-right: none;
  background: #ffc107;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: white;
  font-family: system-ui;
  font-size: 15px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  outline: none;
}
.classbox1button button:hover {
  background: transparent;
  color: #ffc107;
  border-radius: 0px;
}

.timeofclass {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: white;
  border: 2px dashed #ffc107;
  position: absolute;
  top: 181%;
  left: 42%;
}

.timeofclass span {
  text-align: center;
  font-size: 14px;
  position: relative;
  top: 26px;
  font-family: system-ui;
  left: 18px;
}

.classbox1:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 255px;
  background: transparent;
  top: 313.6%;
  left: 46.5%;
  border-left: 2px dashed #ffc107;
}

/*classbox2*/

.classbox2 {
  width: 513px;
  overflow: hidden;
  background: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  float: left;
  box-sizing: border-box;
  padding: 33px;
  border: 2px solid rgba(221, 221, 221, 0.808);
  margin-top: 31%;
  margin-left: -78px;
}

.classbox2:before {
  position: absolute;
  top: 716%;
  left: 35.8%;
  background: white;
  content: " ";
  border-bottom: 2px solid rgba(221, 221, 221, 0.808);
  border-left: 2px solid rgba(221, 221, 221, 0.808);
  padding: 17px;
  transform: rotate(228deg);
  -webkit-transform: rotate(228deg);
  -moz-transform: rotate(228deg);
  -ms-transform: rotate(228deg);
  -o-transform: rotate(228deg);
}
.classbox2title {
  width: 100%;
  height: 80px;
}
.classbox2title img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  float: left;
  margin-right: 15px;
  padding: 5px;
}
.classbox2title h4 {
  font-family: system-ui;
  color: rgba(0, 0, 0, 0.795);
  font-weight: 600;
  font-size: 17px;
  padding-top: 10px;
}
.classbox2title span {
  color: rgba(34, 34, 31, 0.596);
  font-size: 13px;
  font-family: system-ui;
  padding-top: 5px;
}

.classbox2maintext {
  width: 100%;
  overflow: hidden;
}

.classbox2maintext h1 {
  color: #020745;
  font-family: system-ui;
  font-size: 22px;
  padding-bottom: 20px;
}

.classbox2maintext p {
  color: #9e9e9e;
  font-size: 16px;
  font-family: system-ui;
  padding-bottom: 30px;
}

.classbox2button {
  width: 100%;
}

.classbox2button button {
  text-align: center;
  padding: 10px 20px;
  border-top: 2px solid #40cbb4;
  border-bottom: 2px solid #40cbb4;
  border-left: none;
  border-right: none;
  background: #40cbb4;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: white;
  font-family: system-ui;
  font-size: 15px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  outline: none;
}
.classbox2button button:hover {
  background: transparent;
  color: #40cbb4;
  border-radius: 0px;
}

.timeofclass2 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: white;
  border: 2px dashed #40cbb4;
  position: absolute;
  top: 652%;
  left: 42%;
}

.timeofclass2 span {
  text-align: center;
  font-size: 14px;
  position: relative;
  top: 26px;
  font-family: system-ui;
  left: 18px;
}

.classbox2:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 255px;
  background: transparent;
  top: 787.6%;
  left: 46.5%;
  border-left: 2px dashed #40cbb4;
}

/*classbox3*/

.classbox3 {
  width: 513px;
  overflow: hidden;
  background: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  float: right;
  box-sizing: border-box;
  padding: 33px;
  border: 2px solid rgba(221, 221, 221, 0.808);
  margin-top: 33%;
}

.classbox3:before {
  position: absolute;
  top: 1186%;
  left: 54.5%;
  background: white;
  content: "";
  border-bottom: 2px solid rgba(221, 221, 221, 0.808);
  border-left: 2px solid rgba(221, 221, 221, 0.808);
  padding: 18px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.classbox3title {
  width: 100%;
  height: 80px;
}
.classbox3title img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  float: left;
  margin-right: 15px;
  padding: 5px;
}
.classbox3title h4 {
  font-family: system-ui;
  color: rgba(0, 0, 0, 0.795);
  font-weight: 600;
  font-size: 17px;
  padding-top: 10px;
}
.classbox3title span {
  color: rgba(34, 34, 31, 0.596);
  font-size: 13px;
  font-family: system-ui;
  padding-top: 5px;
}

.classbox3maintext {
  width: 100%;
  overflow: hidden;
}

.classbox3maintext h1 {
  color: #020745;
  font-family: system-ui;
  font-size: 22px;
  padding-bottom: 20px;
}

.classbox3maintext p {
  color: #9e9e9e;
  font-size: 16px;
  font-family: system-ui;
  padding-bottom: 30px;
}

.classbox3button {
  width: 100%;
}

.classbox3button button {
  text-align: center;
  padding: 10px 20px;
  border-top: 2px solid #4c35a9;
  border-bottom: 2px solid #4c35a9;
  border-left: none;
  border-right: none;
  background: #4c35a9;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: white;
  font-family: system-ui;
  font-size: 15px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  outline: none;
}
.classbox3button button:hover {
  background: transparent;
  color: #4c35a9;
  border-radius: 0px;
}

.timeofclass3 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: white;
  border: 2px dashed #4c35a9;
  position: absolute;
  top: 1135%;
  left: 42%;
}

.timeofclass3 span {
  text-align: center;
  font-size: 14px;
  position: relative;
  top: 26px;
  font-family: system-ui;
  left: 18px;
}

.classbox3:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 255px;
  background: transparent;
  top: 1272.6%;
  left: 46.5%;
  border-left: 2px dashed #4c35a9;
}

/*classbox4*/
.classbox4 {
  width: 513px;
  overflow: hidden;
  background: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  float: left;
  box-sizing: border-box;
  padding: 33px;
  border: 2px solid rgba(221, 221, 221, 0.808);
  margin-top: 33%;
  margin-left: -78px;
}

.classbox4:before {
  position: absolute;
  top: 1661%;
  left: 35.8%;
  background: white;
  content: " ";
  border-bottom: 2px solid rgba(221, 221, 221, 0.808);
  border-left: 2px solid rgba(221, 221, 221, 0.808);
  padding: 17px;
  transform: rotate(228deg);
  -webkit-transform: rotate(228deg);
  -moz-transform: rotate(228deg);
  -ms-transform: rotate(228deg);
  -o-transform: rotate(228deg);
}
.classbox4title {
  width: 100%;
  height: 80px;
}
.classbox4title img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  float: left;
  margin-right: 15px;
  padding: 5px;
}
.classbox4title h4 {
  font-family: system-ui;
  color: rgba(0, 0, 0, 0.795);
  font-weight: 600;
  font-size: 17px;
  padding-top: 10px;
}
.classbox4title span {
  color: rgba(34, 34, 31, 0.596);
  font-size: 13px;
  font-family: system-ui;
  padding-top: 5px;
}

.classbox4maintext {
  width: 100%;
  overflow: hidden;
}

.classbox4maintext h1 {
  color: #020745;
  font-family: system-ui;
  font-size: 22px;
  padding-bottom: 20px;
}

.classbox4maintext p {
  color: #9e9e9e;
  font-size: 16px;
  font-family: system-ui;
  padding-bottom: 30px;
}

.classbox4button {
  width: 100%;
}

.classbox4button button {
  text-align: center;
  padding: 10px 20px;
  border-top: 2px solid #e6275a;
  border-bottom: 2px solid #e6275a;
  border-left: none;
  border-right: none;
  background: #e6275a;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: white;
  font-family: system-ui;
  font-size: 15px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  outline: none;
}
.classbox4button button:hover {
  background: transparent;
  color: #e6275a;
  border-radius: 0px;
}

.timeofclass4 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: white;
  border: 2px dashed #e6275a;
  position: absolute;
  top: 1621%;
  left: 42%;
}

.timeofclass4 span {
  text-align: center;
  font-size: 14px;
  position: relative;
  top: 26px;
  font-family: system-ui;
  left: 18px;
}

/*spin image*/
.spinImage {
  width: 300px;
  position: absolute;
  bottom: 189px;
  right: 62px;
}

/*fnsclubimagelogo*/
.fnsclublogoimage {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 25%;
  left: 10px;
  z-index: -1;
  opacity: 0.2;
}

.fnsclublogoimage img {
  width: 100%;
  height: 100%;
}

/*accounType Section-*/
section.accounTypeSection {
  width: 100%;
  overflow: hidden;
  height: 1200px;
  background: #fff;
  position: relative;
}

.accountTypewrapper {
  width: 100%;
  overflow: hidden;
}

.accountTypeHeading {
  text-align: center;
  padding-top: 120px;
  height: 190px;
}

.accountTypeHeading span {
  color: #f05826;
  font-weight: 700;
  font-size: 20px;
}

.accountTypeHeading h1 {
  color: #020745;
  font-size: 32px;
  padding-top: 13px;
  text-align: center;
}

/*free and premium type account section*/

.freeAndPremiumtTypeAccountDivision {
  width: 100%;
  height: 750px;
  overflow: hidden;
}
/*free account*/

.freeacccount {
  width: 520px;
  height: 747px;
  background: #40cbb4;
  margin-left: 20px;
  box-shadow: 0px 0px 20px 0px #00000061;
  float: left;
  margin-right: 44px;
}

.freeacccountNoteSpaces {
  background: white;
  width: 100%;
  height: 567px;
  top: 151px;
  position: relative;
}

.freeacccountNoteSpaces:before {
  position: absolute;
  left: 0;
  top: -34px;
  height: 75px;
  width: 100%;
  border-radius: 63% 70% 0 0;
  background: #ffffff;
  content: "";
}

.freeaccountIcon {
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 35%;
  top: -19%;
}

.freeaccountIcon i {
  font-size: 53px;
  border: 5px solid #40cbb4;
  padding: 30px;
  border-radius: 100%;
  color: #40cbb4;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.freeaccountIcon i:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.freeaccounttitle {
  width: 100%;
  height: 200px;
  margin-top: -16%;
  padding-left: 50%;
  transform: translateX(-50px);
}

.freeaccounttitle h3 {
  font-weight: 600;
  color: black;
  font-size: 18px;
  padding-bottom: 9px;
}

.freeaccounttitle h2 {
  color: #40cbb4;
  padding-left: 30px;
  font-size: 27px;
}

.freeAccountOpportunaties {
  width: 519px;
  height: 400px;
  position: relative;
  top: -18%;
  left: 0%;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 62px;
}

ul.freeAccountOpportunatiestext {
  list-style: none;
}

ul.freeAccountOpportunatiestext li {
  list-style: none;
  color: #a29797;
  padding-bottom: 15px;
  font-size: 18px;
}

ul.freeAccountOpportunatiestext li i {
  font-size: 15px;
  color: #f05826;
  font-weight: 400;
  padding-right: 13px;
}

ul.freeAccountOpportunatiestext li span {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 3px;
}

.admitButton {
  position: relative;
  top: -29%;
  left: 0%;
  width: 517px;
  height: 80px;
  padding-left: 37%;
  box-sizing: border-box;
}

.admitButton button {
  background: #40cbb4;
  border: none;
  outline: none;
  color: white;
  padding: 8px 36px;
  font-size: 17px;
  border-radius: 10px;
  border-top: 3px solid #40cbb4;
  border-bottom: 3px solid #40cbb4;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.admitButton button:hover {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  background: white;
  color: #40cbb4;
}

/*premium account*/
.premiumacccount {
  width: 520px;
  height: 747px;
  background: #f05925;
  margin-left: 20px;
  box-shadow: 0px 0px 20px 0px #00000061;
  float: left;
  margin-right: 44px;
}

.premiumacccountNoteSpaces {
  background: white;
  width: 100%;
  height: 567px;
  top: 151px;
  position: relative;
}

.premiumacccountNoteSpaces:before {
  position: absolute;
  left: 0;
  top: -34px;
  height: 75px;
  width: 100%;
  border-radius: 63% 70% 0 0;
  background: #ffffff;
  content: "";
}

.premiumaccountIcon {
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 35%;
  top: -19%;
}

.premiumaccountIcon i {
  font-size: 53px;
  border: 5px solid #f05925;
  padding: 30px;
  border-radius: 100%;
  color: #f05925;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.premiumaccountIcon i:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.premiumaccounttitle {
  width: 100%;
  height: 200px;
  margin-top: -16%;
  padding-left: 50%;
  transform: translateX(-50px);
}

.premiumaccounttitle h3 {
  font-weight: 600;
  color: black;
  font-size: 18px;
  padding-bottom: 9px;
  margin-left: -5%;
}

.premiumaccounttitle h2 {
  color: #f05925;
  font-size: 27px;
  margin-left: -20%;
}

.premiumAccountOpportunaties {
  width: 519px;
  height: 400px;
  position: relative;
  top: -18%;
  left: 0%;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 62px;
}

ul.premiumAccountOpportunatiestext {
  list-style: none;
}

ul.premiumAccountOpportunatiestext li {
  list-style: none;
  color: #a29797;
  padding-bottom: 15px;
  font-size: 18px;
}

ul.premiumAccountOpportunatiestext li i {
  font-size: 15px;
  color: #f05826;
  font-weight: 400;
  padding-right: 13px;
}

ul.premiumAccountOpportunatiestext li span {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 3px;
}

.premiumadmitButton {
  position: relative;
  top: -29%;
  left: 0%;
  width: 517px;
  height: 80px;
  padding-left: 37%;
  box-sizing: border-box;
}

.premiumadmitButton button {
  background: #f05925;
  border: none;
  outline: none;
  color: white;
  padding: 8px 36px;
  font-size: 17px;
  border-radius: 10px;
  border-top: 3px solid #f05925;
  border-bottom: 3px solid #f05925;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.premiumadmitButton button:hover {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  background: white;
  color: #f05925;
}
/*circle image design*/
.circleimage1 {
  width: 349px;
  position: absolute;
  top: -68px;
  left: 0px;
  opacity: 0.5;
}

.circleimage2 {
  width: 349px;
  position: absolute;
  bottom: 40%;
  right: -52px;
  opacity: 0.5;
}

.circleimage3 {
  width: 349px;
  position: absolute;
  bottom: 10%;
  left: 0px;
  opacity: 0.5;
}

/*communityvideosection*/
.communityvideosection {
  width: 100%;
  background: linear-gradient(#000000b8, #000000b3), url(images/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 561px;
}

.communityVideoDivision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 38vh;
}
.communityText {
  position: relative;
  margin-top: 10%;
}

.communityText span {
  color: #ffc107;
  font-size: 21px;
  padding-bottom: 15px;
  display: grid;
  place-items: center;
}

.communityText h1 {
  color: white;
  text-align: center;
  font-size: 37px;
  font-weight: 600;
}

.playButton i {
  color: white;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: #ffc107;
  font-size: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px white;
  animation: boxShadowAnimate;
  -webkit-animation: boxShadowAnimate;
  animation-timing-function: linear;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes boxShadowAnimate {
  0% {
    box-shadow: 0px 0px 30px 10px white;
  }
  35% {
    box-shadow: 0px 0px 50px 20px rgba(19, 18, 18, 0.459);
  }
  50% {
    box-shadow: 0px 0px 70px 30px rgba(93, 89, 89, 0.13);
  }
  75% {
    box-shadow: 0px 0px 80px 40px rgba(26, 23, 23, 0.445);
  }

  100% {
    box-shadow: 0px 0px 100px 50px rgba(255, 255, 255, 0.431);
  }
}

.playButton {
  margin-top: 3%;
}

/*contact box*/

section.contactbox {
  width: 100%;
  overflow: hidden;
  height: 960px;
  background: #9e9e9e38;
}

.formWrapper {
  width: 100%;
  overflow: hidden;
}

.form {
  background: white;
  width: 1150px;
  margin-top: 17vh;
  overflow: hidden;
  height: 627px;
  box-shadow: 0px 0px 23px 0px #0000002b;
}

.leftBox {
  width: 390px;
  height: 100%;
  float: left;
  background: url("images/form-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 100%;
}

.leftBoxIcon {
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 100%;
  margin-left: 45%;
  transform: translateX(-50px);
  margin-top: 23%;
}

.leftBoxIcon i {
  color: black;
  font-size: 80px;
  font-weight: 600;
}

.leftBoxTitle {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 19px;
  margin-top: 7%;
}

.leftBoxDescription p {
  color: white;
  text-align: justify;
  font-size: 19px;
  line-height: 28px;
}

.leftBoxDescription {
  box-sizing: border-box;
  padding: 44px;
}

/*right box*/

.rightFormBox {
  width: 755px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding: 33px;
}

/*name box*/
.nameBox {
  position: relative;
  top: 0px;
  left: 0px;
  width: 644px;
  height: 50px;
}

.nameBox i {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 21px;
  color: #00000091;
}
.emailBox {
  position: relative;
  top: 21px;
  left: 0px;
  width: 644px;

  height: 50px;
}
.emailBox i {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 21px;
  color: #00000091;
}

.mobileBox {
  position: relative;
  top: 46px;
  left: 0px;
  width: 644px;

  height: 50px;
}
.mobileBox i {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 21px;
  color: #00000091;
}
.commentBox {
  position: relative;
  top: 73px;
  left: 0px;
  width: 644px;

  height: 50px;
}
.commentBox i {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 21px;
  color: #00000091;
}

input {
  width: 100%;
  height: 54px;
  padding-left: 49px;
  outline: none;
  border: 1px solid #44444438;
  font-size: 18px;
}
input:focus {
  outline: 1px solid #dc1876;
  border: none;
}
textarea {
  width: 100%;
  height: 221px;
  resize: none;
  padding-left: 50px;
  outline: none;
  border: 1px solid #44444438;
  font-size: 18px;
  padding-top: 15px;
}
textarea:focus {
  outline: 1px solid #dc1876;
  border: none;
}

.sendButton {
  position: relative;
  bottom: -57%;
  right: -83%;
}

.sendButton button {
  padding: 16px 41px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #202636;
  color: white;
  font-size: 17px;
  box-shadow: inset0 0 0 0 white;
  transition: 0.5s;
}
.sendButton button:hover {
  box-shadow: inset 130px 0 0 0 white, 0px 0px 10px 0px #ddd;
  color: #202636;
}

/*footer section*/
section.footerSection {
  background: #101130;
  width: 100%;
  height: 575px;
  overflow: hidden;
}

.footerContentWrapper {
  width: 100%;
  overflow: hidden;
}

.footerBox1 {
  width: 365px;
  float: left;
  margin-top: 103px;
  box-sizing: border-box;
  padding: 10px;
}

.footerLogo {
  width: 198px;
  padding-bottom: 22px;
}

.footerLogo img {
  width: 100%;
}

.footerBox1Description {
  width: 100%;
}

.footerBox1Description p {
  color: #ffffffa6;
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 23px;
}

.footersocialMedia {
  width: 100%;
}

.footersocialMedia i {
  color: white;
  background: #2a2b46;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.footersocialMedia i:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  cursor: pointer;
}

.fa-facebook-f:hover {
  background: #3c599f;
}
.fa-twitter:hover {
  background: #32ccfe;
}
.fa-pinterest-p:hover {
  background: #cc2127;
}
.fa-youtube:hover {
  background: #cc2127;
}
.fa-dribbble:hover {
  background: #f46899;
}

/*footerbox2*/
.footerBox2 {
  width: 192px;
  float: left;
  margin-top: 138px;
  position: relative;
  margin-left: 3%;
}

.footerBox2Heading {
  width: 100%;
  position: relative;
}

.footerBox2Heading h3 {
  color: white;
  padding-bottom: 30px;
  font-weight: 500;
}
.footerBox2Heading h3:before {
  content: " ";
  position: absolute;
  width: 25%;
  height: 2px;
  background: #dc1876;
  top: 64%;
  left: 0px;
}

.importantLinksLIst {
  width: 100%;
}

ul.linksLIst {
  width: 100%;
}

ul.linksLIst li {
  color: white;
  list-style: none;
  border-left: 2px solid #dc1876;
  padding: 6px;
  padding-left: 19px;
  margin-bottom: 9px;
  font-size: 15px;
  font-family: system-ui;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
ul.linksLIst li:hover {
  color: #dc1876;
}

/*footbox3*/
.footerBox3 {
  width: 192px;
  float: left;
  margin-top: 138px;
  position: relative;
  margin-left: 0%;
}

.footerBox3Heading {
  width: 100%;
  position: relative;
}

.footerBox3Heading h3 {
  color: white;
  padding-bottom: 30px;
  font-weight: 500;
}
.footerBox3Heading h3:before {
  content: " ";
  position: absolute;
  width: 25%;
  height: 2px;
  background: #dc1876;
  top: 64%;
  left: 0px;
}

.importantLinksLIst3 {
  width: 100%;
}

ul.linksLIst3 {
  width: 100%;
}
ul.linksLIst3 li {
  border-left: none !important;
  list-style: none;
}

ul.linksLIst3 li span {
  color: white;
  list-style: none;
  padding-left: 19px;
  margin-bottom: 9px;
  font-size: 15px;
  font-family: system-ui;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  float: left;
  width: 192px;
  position: relative;
  top: -28px;
  left: 19px;
}
ul.linksLIst3 li i {
  color: white;
  font-size: 26px;
  float: left;
}

/*facebook page*/
.facebookPageIframe {
  float: left;
  margin-top: 138px;
  position: relative;
  margin-left: 5%;
}
.facebookPageheading h3 {
  color: white;
  padding-bottom: 30px;
  font-weight: 500;
}
.facebookPageheading h3:before {
  content: " ";
  position: absolute;
  width: 25%;
  height: 2px;
  background: #dc1876;
  top: 11%;
  left: 0px;
}
.facebookPageIframe {
  float: left;
  width: 303px;
}

footer.copyrightFooter {
  background: #2a2b46;
  width: 100%;
  height: 61px;
}

.copyRightText {
  width: 100%;
}

.copyRightText span {
  color: white;
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 19px;
  font-size: 16px;
}

.downArrow {
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 30px;
  background: #dc1876;
  z-index: 1;
  left: 97%;
}

.downArrow i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 37px;
  color: white;
  font-size: 19px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.downArrow i:hover {
  background: #4c35a9;
}

.search_pop_up {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: rgb(218 220 224);
  box-sizing: border-box;
  padding: 40px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  z-index: 6;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.srchintput {
  width: 336px;
  height: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  box-shadow: 0px 0px 49px 0px rgb(60 53 53 / 34%);
}
.srcBtn {
  position: relative;
  top: 28%;
  border-radius: 5px;
  height: 50px;
  width: 120px;
  background: #f05826;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  margin-left: 5px;
  cursor: pointer;
}
.srcBtn:hover {
  background: white;
  color: black;
}
.srcBtn:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.backdropBlack {
  background: rgba(0, 0, 0, 0.308);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: rgb(0 0 0 / 92%);
  display:none;
}

.activePopup {
  opacity: 1;
  left: 50%;
}
.activeBackDrop {
  display:block;
}
.closeBtn {
  font-family: system-ui;
  color: black;
  cursor: pointer;
}
